:root {
  --bg-1: #ffffff;
  --bg-2: #f3f0fa;

  --bg-linear: linear-gradient(180deg, rgb(255, 255, 255), rgb(244, 241, 255));
  --bg-hero: linear-gradient(180deg, rgb(226, 218, 255), rgb(255, 255, 255));

  --bg-badge: #f3f0fa;

  --primary-500: #592bff;

  --text-1: #000000;
  --text-2: #827e90;
  --text-3: #ffffff;

  --border-1: #aeaabd;
  --border-2: #beb9ce;

  --danger: #f23353;
}

.dark {
  --bg-1: #060509;
  --bg-2: #1a1623;

  --bg-linear: linear-gradient(180deg, rgb(6, 5, 9), rgb(24, 19, 35));
  --bg-hero: linear-gradient(180deg, rgb(21, 17, 36), rgb(6, 5, 9));

  --bg-badge: #110f16;

  --primary-500: #592bff;

  --text-1: #ffffff;
  --text-2: #958c9f;
  --text-3: #ffffff;

  --border-1: #33303f;
  --border-2: #33303f;

  --danger: #f23353;
}
